*{
  overflow-x: hidden;
}
::-webkit-scrollbar{
  display: none;
}
#cal{
  transition: 0.5s ease-in-out;
  
}
#cal:hover{
transform: scale(1.1);
box-shadow: 0 4px 8px 0 rgba(108, 102, 102, 0.2), 0 6px 20px 0 rgba(105, 100, 100, 0.19);
}
#bt{
  border-radius:0;
}
#im:hover{
transform: rotate(-45deg);
}
